.eurosens {
    width: 100%;
    background-image: url('../img/2048x1361_791126_[www.ArtFile.ru].jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left 0px;
}

.wrapper-eurosens {
    width: 100%;
    display: flex;
    align-items: center;
    background: rgba(226, 232, 238, 0.9); 
}

.container-eurosens {
    width: 90%;
    height: 90%;
    margin: 10rem auto;
    display: flex;
    font-family: Roboto;
    font-weight: 600;
    color: rgb(66, 61, 117);
    text-transform: none;

    & h4 {
        font-size: 28px;
        min-height: 85px;
        font-weight: 700;
    }
    
    & ul {
        margin-top: 3rem;
    }
    
    & li {
        list-style-type: none;
        margin-top: 1rem;
        font-size: 24px;
        font-weight: 600;
       
       &::before {
        content: "- ";
        font-family: monospace; 
        margin-left: -2ch; 
       }    
    }


} 


.about {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & p {
        font-size: 24px;
    }
}

.perfect, .decision {
    flex-basis: 25%;
    margin-left: 4%;
}

a.button-eurosens {
    display: inline-block;
    width: 400px;
    background: #1e83ec;
    color: #fff;
    padding: 18px;
    border-radius: 50px;
    text-decoration: none;
    font-family: Roboto;
    font-size: 20px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform:uppercase;
    text-align: center;
  }

a.button-eurosens:hover {
    background: #094b92;
}  
  
 