.section-keywords {
  width: 100%;
  height: 70vh;
  background-image: url("../img/Mers1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left 0px;
}

.wraper-over {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #1e5799 0%, rgba(89, 148, 202, 0.76) 62%, rgba(99, 159, 211, 0.7) 73%, rgba(125, 185, 232, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=1 );
  /* IE6-9 */
}

.conteiner {
  margin: 0 2rem;
}

.conteiner__p {
  font-family: Roboto;
  padding-top: 4rem;
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.eurosens {
  width: 100%;
  background-image: url("../img/2048x1361_791126_[www.ArtFile.ru].jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left 0px;
}

.wrapper-eurosens {
  width: 100%;
  display: flex;
  align-items: center;
  background: rgba(226, 232, 238, 0.9);
}

.container-eurosens {
  width: 90%;
  height: 90%;
  margin: 10rem auto;
  display: flex;
  font-family: Roboto;
  font-weight: 600;
  color: #423d75;
  text-transform: none;
}

.container-eurosens h4 {
  font-size: 28px;
  min-height: 85px;
  font-weight: 700;
}

.container-eurosens ul {
  margin-top: 3rem;
}

.container-eurosens li {
  list-style-type: none;
  margin-top: 1rem;
  font-size: 24px;
  font-weight: 600;
}

.container-eurosens li::before {
  content: "- ";
  font-family: monospace;
  margin-left: -2ch;
}

.about {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about p {
  font-size: 24px;
}

.perfect, .decision {
  flex-basis: 25%;
  margin-left: 4%;
}

a.button-eurosens {
  display: inline-block;
  width: 400px;
  background: #1e83ec;
  color: #fff;
  padding: 18px;
  border-radius: 50px;
  text-decoration: none;
  font-family: Roboto;
  font-size: 20px;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}

a.button-eurosens:hover {
  background: #094b92;
}

footer {
  background-color: #fff;
  height: 160px;
}

.conteiner-footer {
  width: 500px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  transition: all 1s ease;
}

.icon:hover {
  background-color: #55a1f3;
  transition: all 1s ease;
}

.in {
  position: relative;
}

.in-img {
  position: absolute;
  top: -7px;
  left: -39px;
}

.aboutUs {
  width: 100%;
  background-color: #fff;
}

.wrapper-aboutUs {
  max-width: 1200px;
  padding: 3rem 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.title-AU {
  text-align: center;
  padding-top: 4rem;
  font-size: 34px;
  letter-spacing: 2px;
  color: #676767;
}

.blok-cont {
  display: flex;
  padding: 4%;
  flex-direction: column;
  text-align: center;
}

.number-AU {
  font-size: 92px;
  font-weight: 500;
}

.txt-AU {
  font-size: 20px;
  font-weight: 500;
  color: #676767;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #bdc3c7;
  line-height: 1.5;
  font-family: Roboto;
  font-size: 18px;
  color: #1e83ec;
}

a {
  text-decoration: none;
  color: #1e83ec;
  transition: all 1s;
}

#ksawerumolas {
  background: #fff;
  width: 100%;
  position: relative;
}

#ksawerumolas:after {
  content: "";
  clear: both;
  display: block;
}

.logo-img {
  width: 100%;
  height: 100%;
}

.wesaxtun {
  float: right;
  padding: 30px;
}

input {
  border: none;
  padding: 10px;
  border-radius: 20px;
}

.zkisagteb {
  float: left;
  padding: 15px 0 0px;
}

.zkisagteb a {
  font-size: 28px;
  display: block;
  padding: 0 0 0 19px;
}

nav {
  float: right;
}

nav > ul {
  float: left;
  position: relative;
}

nav li {
  list-style: none;
  float: left;
  font-weight: 600;
}

nav .dropdown {
  position: relative;
}

nav li a {
  float: left;
  padding: 35px 20px;
}

nav li a:hover {
  background: #1e83ec;
  color: #fff;
  transition: all 1s;
}

nav li ul {
  display: none;
}

nav li:hover ul {
  display: inline;
  transition: all 1s;
}

nav li li {
  float: none;
}

nav .dropdown ul {
  position: absolute;
  left: 0;
  top: 100%;
  background: #fff;
  padding: 20px 0;
  border-bottom: 3px solid #34495e;
}

nav .dropdown li {
  white-space: nowrap;
}

nav .dropdown li a {
  padding: 10px 35px;
  font-size: 13px;
  min-width: 200px;
}

nav .kizluplazma-dropdown {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  overflow: hidden;
  padding: 20px 35px;
  border-bottom: 3px solid #34495e;
  transition: all 1s;
  z-index: 10;
}

nav li li a {
  float: none;
  color: #1e83ec;
  display: block;
  padding: 8px 10px;
  border-radius: 3px;
  font-size: 13px;
  transition: all 1s;
}

nav li li a:hover {
  background: #bdc3c7;
  background: #1e83ec;
  transition: all 1s;
}

.kizluplazma-col {
  width: 25%;
  float: left;
}

.kizluplazma-col li {
  height: 160px;
  text-align: center;
}

.kizluplazma-col-img {
  width: 100px;
  height: 100px;
}

#satukipam-icon {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -12px;
  margin-right: 30px;
  display: none;
}

#satukipam-icon span {
  border: 2px solid #1e83ec;
  width: 30px;
  margin-bottom: 5px;
  display: block;
  transition: all .1s;
}

@media only screen and (max-width: 1170px) {
  nav > ul > li > a {
    padding: 35px 15px;
  }
}

@media only screen and (min-width: 960px) {
  nav {
    display: block !important;
  }
}

@media only screen and (max-width: 959px) {
  nav {
    display: none;
    width: 100%;
    clear: both;
    float: none;
    max-height: 400px;
    overflow-y: scroll;
  }
  #satukipam-icon {
    display: inline;
    top: 45px;
    cursor: pointer;
  }
  #satukipam-icon.active .first {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-top: 10px;
  }
  #satukipam-icon.active .second {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    position: relative;
    top: -9px;
  }
  #satukipam-icon.active .third {
    display: none;
  }
  .wesaxtun {
    float: none;
  }
  .wesaxtun input {
    width: 100%;
  }
  nav {
    padding: 10px;
  }
  nav ul {
    float: none;
  }
  nav li {
    float: none;
  }
  nav ul li a {
    float: none;
    padding: 8px;
    display: block;
  }
  #ksawerumolas nav ul ul {
    display: block;
    position: static;
    background: none;
    border: none;
    padding: 0;
  }
  #ksawerumolas nav a {
    color: #fff;
    padding: 8px;
  }
  #ksawerumolas nav a:hover {
    background: #fff;
    color: #333;
    border-radius: 3px;
    transition: all 1s;
  }
  #ksawerumolas nav ul li li a:before {
    content: "- ";
  }
  .kizluplazma-col {
    width: 100%;
  }
}
/*# sourceMappingURL=menu.css.map */